target/.wro4j
target/classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/site
target/surefire-reports
target/test-classes
target/checkstyle-cachefile
target/checkstyle-checker.xml
target/checkstyle-result.xml
target/checkstyle-suppressions.xml
target/jacoco.exec

.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
.sts4-cache/
.vscode
_site/
